<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Controle de Produtos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h2 class="text-center mb-4">
        Controle de Produtos
    </h2>

    <a th:href="@{/produtos/novo}" class="btn btn-success mb-3">
        Novo Produto
    </a>

    <table class="table table-striped table-bordered table-hover">

        <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="produto : ${produtos}">

            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="${produto.categoria}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidade}"></td>

            <td>

                <a class="btn btn-warning btn-sm"
                   th:href="@{/produtos/editar/{id}(id=${produto.id})}">
                    Editar
                </a>

                <a class="btn btn-danger btn-sm"
                   th:href="@{/produtos/excluir/{id}(id=${produto.id})}"
                   onclick="return confirm('Deseja excluir este produto?')">
                    Excluir
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>